---
import Layout from '@layouts/BaseLayout.astro';
import PostBox from '@components/PostBox.astro';
import { getPosts } from '@utils/getPosts';

const apps = getPosts(await Astro.glob('../../../content/works/apps/*/*.md'));
const websites = getPosts(await Astro.glob('../../../content/works/websites/*/*.md'));
const tools = getPosts(await Astro.glob('../../../content/works/tools/*/*.md'));
const plugins = getPosts(await Astro.glob('../../../content/works/plugins/*/*.md'));
---

<Layout title="Works">
  <h2 class="category-header">Apps</h2>
  <div class="grid">
    {apps.map((post: any) => (
      <PostBox post={post} showDates={false} />
    ))}
  </div>
  <h2 class="category-header">Websites</h2>
  <div class="grid">
    {websites.map((post: any) => (
      <PostBox post={post} showDates={false} />
    ))}
  </div>
  <h2 class="category-header">Tools</h2>
  <div class="grid">
    {tools.map((post: any) => (
      <PostBox post={post} showDates={false} />
    ))}
  </div>
  <h2 class="category-header">Plugins</h2>
  <div class="grid">
    {plugins.map((post: any) => (
      <PostBox post={post} showDates={false} />
    ))}
  </div>
</Layout>
<style lang="scss">
  .category-header {
    padding: 0 22px;
  }
  .grid {
    display: grid;
    gap: 14px;
    grid-template-columns: 1fr 1fr;
    padding: 0 14px;

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
  }
</style>